#navbarNav{
  margin-top:0px;

}
.navbar{
  background-color: #5ea021;
}
.nav-link:hover{
  background-color: #F8F988;
}
.container{
  padding-top: 2rem;
  text-align: center;
}
#cooked{
  height: 100px;
  padding-bottom: 2.5rem;
  /* padding: 7% 15%; */
}

/* <!-- =============================================================
               FEATURES
============================================================= --> */
#feature{
  background-color: #FFFFFF;
}
#nature{
  height: 100px;
  padding-bottom: 2.5rem;
  /* padding: 7% 15%; */
}
#clean{
  height: 100px;
  padding-bottom: 2.5rem;
  /* padding: 7% 15%; */
}
#features{
  padding: 2rem 0;
  padding-bottom: 2.5rem;
  /* padding: 7% 15%; */
}
#clean-te{
  font-size: 1.5rem;
  text-align: center;
}
#nature-te{
  font-size: 1.5rem;
  text-align: center;
}
#cooked-te{
  font-size: 1.5rem;
  text-align: center;
}
#park-te{
  font-size: 1.5rem;
  text-align: center;
}

/* <!-- =============================================================
               REVIEWS
============================================================= --> */
.review-head{
  padding: 3rem 0;
  padding-bottom: 2.5rem;
}
.reviews{
  background-color: #97DECE;
}
.review-img{
  border-radius: 100%;
  height: 100px;
}
.review-box{
  margin: 4% 5%;
  background-color: #F8F988;
  border-radius: 50px;
  padding: 1px;
}

/* <!-- =============================================================
               GET IN TOUCH
============================================================= --> */
.get-in-ip-ms{
  padding: 1rem 0;
}
.get-in-ip{
  padding: 0.5rem 0;
}
.get-in{
  background-color: #FFFFFF;
}
/* <!-- =============================================================
               CONTACT
============================================================= --> */
.contact-h{
  margin: 1rem auto 3rem auto;
  background-color: #1A120B;
  height: 110px;
}
.contact-h2{
  padding-top: 40px;
}
/* .contact-h{
  margin: 1rem auto 3rem auto;
} */
.contact-box{
  background-color: #97DECE;
  margin: 5% 7% 0 7%;
  padding: 5% 7%;
}
.contact-img{
  border-radius: 100%;
  height: 50px;

  margin: 0.5rem auto;
}

/* <!-- =============================================================
               ABOUT US
============================================================= --> */
#aboutus{
  background-color: #FFFFFF;
  font-size: 1.2rem;
}
.about-h{
  padding: 3rem 2.5rem;
}
.baba{
  height: 100px;
  border-radius: 100%;
  padding:0.5rem 0;
}
.dada{
  height: 100px;
  border-radius: 100%;
  padding:0.5rem 0;
}
#br{
  height: 2px;
}
.about-box-1{
  background-color:  #F8F988;
  padding: 1rem;
  border:solid;
  border-color:  black;
  border-radius:20px;
}
.about-box-2{
 background-color:  #F8F988;
 padding: 1rem;
 border:solid;
 border-color:  black;
 border-radius:20px;
}

/* <!-- =============================================================
               FINAL TOUCH
============================================================= --> */
body{
  padding:10px;

}
.footer{
  background-color: #5ea021;
  height: 100px;
}
.footer-text{
padding-top: 40px;
}
.footer-text-a{
  text-decoration: none;
   color: #FDFF00;
}
/* <!-- =============================================================
               RESPONSIVENESS
============================================================= --> */
